* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    font-family: 'Open Sans';
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #852525;
}

main {
    margin-left: 15rem;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(76,9,108,1) 50%, rgba(2,0,36,1) 100%); */
    background: rgb(1,14,40);
    background: linear-gradient(90deg, rgba(1,14,40,1) 0%, rgba(2,15,42,1) 49%, rgba(4,30,84,1) 100%);

    height: auto;
    min-height: 100vh;
    background-size: cover;
    overflow: auto;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    color: white;
    padding: 15px;
    text-align: center;
}

h2, p {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    padding: 10px;
}

i {
    margin: 8px;
}

.message {
    font-family: 'Open Sans', sans-serif;
    color: #852525;
    font-size: 2em;
    text-align: center;
}

input:focus {
    outline: none;
    border-color: #852525;
    box-shadow: 0 0 10px #852525;
}

#navbar {
    position: fixed;
    width: 15rem;
    height: 100vh;
    background-color: #22252D;
}

@media only screen and (max-width: 800px) {
    #navbar {
        width: 100%;
        position: relative;
        height: auto;
    }

    #navbar ul li {
        margin: 20px 0;
    }

    main {
        margin-left: 0;
    }
}

#navbar_ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    flex-direction: column;
    align-content: center;

}

#navbar_ul > li {
    margin: 10px 15px;
}

#navbar_ul > li:first-child {
    background-color: #15161b;
    margin: 0;
}


#navbar_ul > li:last-child {
    margin: 0;
    margin-top: auto;
    width: 100%;
}

.navbar_link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navbar_sublink {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}

.navbar_link:hover, .navbar_sublink:hover, #navbar_ul > li a:hover{
    color: #852525;
}


#dropdown_content1 {
    display: none;
    list-style-type: none;
}

#dropdown_content2 {
    display: none;
    list-style-type: none;
    color: blue;
}

/* .dropdown_button:hover .dropdown_content {
    display: block;
    padding: 15px;
} */

.log_button {
    text-align: center;
    padding: 10px;
    background-color: #15161b;
}

.log_button a{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.log_button a:hover{
    color: #5a1bec;
}

.slide-image {
    height: 100vh;
    background-image: url("../images/background-2.jpg");
    background-size: cover;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
  }
  
table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

th, td {
    padding: 15px;
    text-align: left;
}

/* login page */
#login-background {
    width: 550px;
    height: 460px;
    background-color: white;
    border-radius: 10px;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    border: 1px solid black; 
}

#login-background h1 {
    color: black;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid silver;
}

#login-background h2 {
    text-align: center;
}

.form_input {
    display: block;
    margin: 20px auto;
    width: 75%;
    padding: 25px 0;
    text-align: center;
    border-radius: 10px;
    border: black 1px solid;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}

#login-background input[type=submit] {
    background-color: #22252D;
    color: white;
}


#login-background input[type=submit]:hover {
    background-color: #852525;
}

/* colonist profile page */
.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 100vh; */
    margin-top: 10%;
}

.profile:nth-of-type(2) {
    margin-top: 20px;
}

.profile_block {
    background-color: white;
    width: 350px;
    border-radius: 10px;
}

.profile_block:nth-of-type(2) {
    width: 50%;
    padding: 20px 15px 60px 15px;
}

#credits_box {
    display: none;
}

.profile_table td:nth-of-type(1) {
    font-weight: bold;
    width: 40%;
}

.profile_table td:nth-of-type(2) {
    width: 70%;
}

.profile_table i {
    width: 20px;
}

@media only screen and (max-width: 1200px) {
    .profile {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .profile_block {
        width: 50%;
    }
    
    .profile_block:nth-of-type(2) {
        width: 90%;
        max-height: auto;
    }
}

.profile_block h2 {
    text-align: center;
}

.profile_image {
    margin: 5% auto;
    display: block;
    width: 25%;
}

/* colonist profile edit */
#edit_profile_box {
    width: 95%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input_box {
    flex: 0 0 45%;
    margin: 20px 0;
}

.input_box input {
    padding: 20px;
    width: 90%;
}

.input_box select {
    padding: 20px;
    width: 100%;
}

.input_box label {
    display: block;
}

/* colonist list */
.list_background {
    background-color: white;
    width: 75%;
    padding: 0 0 40px 0;
    margin: 25px auto;
    border-radius: 5px;
}

.list_background h2{
    text-align: center;
    padding: 30px;
}

#list_table a {
    font-size: 2em;
    color: rgba(2,0,36,1);
}

#list_table tbody tr:nth-of-type(odd) {
    background-color: #e4eefd;
}

#filter_box {
    width: 75%;
    margin: auto;
}

#filter_box a {
    text-decoration: none;
    color: white;
}

#filter_box a:hover {
    color: #852525;
}

#filter_box input {
    float: right;
    padding: 15px;
    width: 300px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 10px;
}

#list_table a:hover {
    font-size: 2em;
    color: #852525;
}

/* habitat page */
#habitat_box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#habitat_box div {
    width: 35%;
    text-align: center;
}

#habitat_box img {
    width: 100%;
    border-radius: 25px;
}

#habitat_box table {
    width: 55%;
    margin: 0;
}

/* droid list */
#droid_table td {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
}

#droid_table a {
    color: black;
    text-decoration: none;
}

#droid_table a:hover {
    color: #852525;
}

.droid_image {
    width: 100px;
    margin: auto;
}
