<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>
    <main>
    <nav id="navbar">
        <h1>Proxima B</h1>
        <ul>
            <li><a href="{link index}">Domovská stránka</a></li>
            <li><a href="#">Prohlídka droidů</a></li>
            <li><a href="#">Seznam kolonistů</a></li>
            <li><a href="#">Seznam základen</a></li>
        </ul>
        <p>
            <a href="{link login}">Přihlásit se</a>
        </p>
        {if isset($logged_colonist)}
            <h1>{$logged_colonist['firstname']}</h1>
            {if $logged_colonist['authorization'] == 'majorplanet'}
                <h1>cistej magor</h1>
                {else}
                    <h1>no tak to jsem nevidel</h1>
            {/if}
        {/if}
    </nav>
    <div id="main">
        {include body}
    </div>
    </main>
</body>
</html>